{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="section">
        <div class="titre">
            
        </div>
        <div class="col-lg-6 col-md-6" id="form_inscription">
            <div class="titre_login">
                <h2>CONNEXION</h2>
            </div>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <table class="table table-borderless" id="inscription">
                    <tr>
                        <th>Email :</th>
                        <td><input type="email" placeholder="Votre email " value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus></td>
                    </tr>
                    <tr>
                        <th>Mot de passe :</th>
                        <td><input type="password" placeholder="Votre mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required></td>
                    </tr>

                    <tr>
                        <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                        >
            
                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html
                    
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
                        <th></th>
                        <td><input type="checkbox" name="_remember_me"> Remember me</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <button class="btn btn-primary" type="submit">
                                Connexion
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td>Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">S'inscrire</a></td>
                    </tr>
                </table>
                
            
                
            </form>
        </div>
        
    </div>
</div>

{% endblock %}
