{% extends 'base.html.twig' %}

{% block title %}Eleves{% endblock %}

{% block body %}
    <h1>Eleves</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ elefe.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ elefe.matricule }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ elefe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ elefe.prenom }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ elefe.dateNaissance ? elefe.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ elefe.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ elefe.telephone }}</td>
            </tr>
            <tr>
                <th>Mere</th>
                <td>{{ elefe.mere }}</td>
            </tr>
            <tr>
                <th>Pere</th>
                <td>{{ elefe.pere }}</td>
            </tr>
            <tr>
                <th>Tuteur</th>
                <td>{{ elefe.tuteur }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ elefe.sexe }}</td>
            </tr>
            <tr>
                <th>Religion</th>
                <td>{{ elefe.religion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eleves_index') }}">back to list</a>

    <a href="{{ path('app_eleves_edit', {'id': elefe.id}) }}">edit</a>

    {{ include('eleves/_delete_form.html.twig') }}
{% endblock %}
