
{{ form_start(form) }}
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(form.nom, {
                'label' : 'Nom prof Titulaire',
                'attr' : {
                    'onkeyup' : 'this.value=this.value.toUpperCase()',
                }
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.prenom, {
                'label' : 'Prenom prof Titulaire',
                'attr' : {
                    'onkeyup' : 'this.value=this.value.charAt().charAy()',
                }
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.adresse, {
                'label' : 'Adresse prof Titulaire'
            }) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(form.email, {
                'label' : 'E-mail prof Titulaire'
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.telephone, {
                'label' : 'Telephone prof Titulaire'
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(form.sexe) }}
        </div>

        <button class="btn btn-primary">{{ button_label|default('Enregistre') }}</button>
        <button type="reset" class="btn btn-warning">{{ button_label|default('Annulle') }}</button>
        
    </div>
</div>
    
{{ form_end(form) }}
