{% extends 'base.html.twig' %}

{% block title %}Prof Titulaire{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="section">
        <div class="titre">
            <h1><u>Prof Titulaire</u></h1>
        </div>
        <div class="container">
            <div class="row">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Adresse</th>
                            <th>Telephone</th>
                            <th>Email</th>
                            <th>Sexe</th>
                            <th>Classe</th>
                            <th id="actionProf">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for prof_titulaire in prof_titulaires %}
                        <tr>
                            <td>{{ prof_titulaire.nom|upper }}</td>
                            <td>{{ prof_titulaire.prenom|title }}</td>
                            <td>{{ prof_titulaire.adresse|title }}</td>
                            <td>+261{{ prof_titulaire.telephone }}</td>
                            <td><a href="">{{ prof_titulaire.email }}</a></td>
                            <td>{{ prof_titulaire.sexe|capitalize }}</td>
                            <td>
                                {% if prof_titulaire.classe|length == 0 %}
                                    <font color="red">Aucun classe ajoute</font>
                                {% else %}
                                    <a href="{#{ path('app_classe_show', {'id': prof_titulaire.classe.id}) }#}">{{ prof_titulaire.classe.nomClasse|capitalize }} {{ prof_titulaire.classe.indice|upper }}</a></td>
                                {% endif %}
                            <td>
                                <a href="">{{ include('prof_titulaire/_delete_form.html.twig') }} </a>
                                <a class="btn btn-info" href="{{ path('app_prof_titulaire_show', {'id': prof_titulaire.id}) }}"><i class="fa fa-list"></i></a>
                                <a class="btn btn-warning" href="{{ path('app_prof_titulaire_edit', {'id': prof_titulaire.id}) }}"><i class="fa fa-edit"></i></a>
                                
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
                    {{ knp_pagination_render(prof_titulaires, 'base/pagination.html.twig') }}
                <div class="nouvelle">
                    <a class="btn btn-primary" href="{{ path('app_prof_titulaire_new') }}">Nouvelle Titulaire</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
    

    

    
{% endblock %}
