{% extends 'base.html.twig' %}

{% block title %}ProfTitulaire{% endblock %}

{% block body %}
    <h1>ProfTitulaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prof_titulaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ prof_titulaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ prof_titulaire.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ prof_titulaire.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ prof_titulaire.telephone }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ prof_titulaire.sexe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prof_titulaire_index') }}">back to list</a>

    <a href="{{ path('app_prof_titulaire_edit', {'id': prof_titulaire.id}) }}">edit</a>

    {{ include('prof_titulaire/_delete_form.html.twig') }}
{% endblock %}
