{% extends 'base.html.twig' %}

{% block title %}Prof Titulaire{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="section">
        <div class="titre">
            <h1><u>Prof Titulaire {{ prof_titulaire.nom|upper }}</u></h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Nom</th>
                                <td>{{ prof_titulaire.nom|upper }}</td>
                            </tr>
                            <tr>
                                <th>Prenom</th>
                                <td>{{ prof_titulaire.prenom|title }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ prof_titulaire.adresse|title }}</td>
                            </tr>
                            <tr>
                                <th>Telephone</th>
                                <td>+261{{ prof_titulaire.telephone }}</td>
                            </tr>
                            <tr>
                                <th>E-mail</th>
                                <td><a href="">{{ prof_titulaire.email }}</a></td>
                            </tr>
                            <tr>
                                <th>Sexe</th>
                                <td>{{ prof_titulaire.sexe|capitalize }}</td>
                            </tr>
                            <tr>
                                <th>Classe</th>
                                <td><a href="">{{ prof_titulaire.classe.nomClasse|capitalize }} {{ prof_titulaire.classe.indice|upper }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {#{ include('prof_titulaire/_delete_form.html.twig') }#}
            </div>
            <a class="btn btn-primary" href="{{ path('app_prof_titulaire_index') }}"> << back to list</a>
            <a class="btn btn-warning" href="{{ path('app_prof_titulaire_edit', {'id': prof_titulaire.id}) }}"><i class="fa fa-edit"></i></a>
        </div>
    </div>
</div>
    

    

    
{% endblock %}
