{#{ include('header/header.html.twig') }#}
<nav>
    <ul>
        <li class="logo"><img src="{{ asset('image/logo.jpg') }}"></li>
        <li><a href="{{ path('app_accuel') }}"><i class="fa fa-home"></i>&nbsp;  Accuel</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="#"><i class="fa fa-book"></i>&nbsp;  Admin</a></li>
            <li><a href="{{ path('app_prof_titulaire_index') }}"><i class="fa fa-user"></i>&nbsp; Prof Titulaire</a></li>
            <li><a href="{{ path('app_classe_index') }}"><i class="fa fa-cube"></i>&nbsp; Classe</a></li>
            <li><a href="{{ path('app_eleves_index') }}"><i class="fa fa-users"></i>&nbsp; Eleves</a></li>
        {% endif %}
        <!-- <li><a href="#"><i class="fa fa-users"></i>&nbsp;  Users</a></li>
        <li><a href="#"><i class="fa fa-picture-o"></i>&nbsp;  Pictures</a></li>
        <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Contact</a></li> -->
        
    </ul>
    
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            {% if app.user %}
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{ app.user.nom }}</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                </ul>
        </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">Connexion</a>
                </li>
            {% endif %}
    </ul>
</nav>



<!-- <div class="wrapper">
    <div class="section">
        <div class="box-area">
            <h2>Home</h2>
        </div>
        
    </div>
</div> -->