{#{ include('header/header.html.twig') }#}
<nav>
    <ul>
        <li class="logo"><img src="{{ asset('image/logo.jpg') }}"></li>
        <li><a href="{{ path('app_home') }}"><i class="fa fa-home"></i>&nbsp;  Home</a></li>
        <!-- <li><a href="#"><i class="fa fa-book"></i>&nbsp;  Book</a></li>
        <li><a href="#"><i class="fa fa-users"></i>&nbsp;  Users</a></li>
        <li><a href="#"><i class="fa fa-picture-o"></i>&nbsp;  Pictures</a></li>
        <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Contact</a></li> -->
        {% if app.user %}
            <li>
                <a href="">{{ app.user.nom }}</a>
            </li>
            <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown">
                    <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.user.nom }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item"  href="">Deconnexion</a>
                </li>
            </ul> -->
            
        {% else %}
            <li><a href="{{ path('app_login') }}"><i class="fa fa-phone"></i>&nbsp; Login</a></li>
            <li><a href="{{ path('app_register') }}"><i class="fa fa-phone"></i>&nbsp; Inscription</a></li>
        {% endif %}
    </ul>
</nav>



<!-- <div class="wrapper">
    <div class="section">
        <div class="box-area">
            <h2>Home</h2>
        </div>
        
    </div>
</div> -->